.artist {
  overflow: hidden;
  background-image: url("images/vinyl1.jpg");
  background-position: center;
  background-size: cover;
}

.artist-left-slide {
  object-fit: contain;
  width: 400px;
}

.logo-right-slide {
  object-fit: contain;
  width: 400px;
  align-items: flex-end;
}

@media (min-width: 767px) {
.artist-left-slide {
  width: 400px;
}
}